################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

*.vsidx
*.lock
*.suo
*.db
*.ipch
*.sqlite
*.json
*.sln
*.vcxproj
*.filters
*.user
*.db-shm
*.db-wal
*.opendb
