################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

*.vsidx
*.lock
*.suo
*.db
*.ipch
*.sqlite
*.json
*.sln
*.vcxproj
*.filters
*.user
*.db-shm
*.db-wal
*.opendb
/09월 23일 - 백트래킹/x64/Debug/09월 23일 - 백트래킹.exe
/09월 23일 - 백트래킹/x64/Debug/09월 23일 - 백트래킹.ilk
/09월 23일 - 백트래킹/x64/Debug/09월 23일 - 백트래킹.tlog/09월 23일 - 백트래킹.lastbuildstate
/09월 23일 - 백트래킹/x64/Debug/09월 23일 - 백트래킹.tlog/CL.read.1.tlog
*.tlog
*.obj
*.txt
*.pdb
*.log
*.recipe
*.idb
*.exe
*.ilk
